<div class="example-container mw7 ph4 mt5">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Favorite Movie">
      <mat-option value="option">Space Jam</mat-option>
      <mat-option value="option">Air Bud</mat-option>
      <mat-option value="option">Hocus Pocus</mat-option>
      <mat-option value="option">Die Hard</mat-option>
      <mat-option value="option">Primer</mat-option>
      <mat-option value="option">Hudsucker Proxy</mat-option>
      <mat-option value="option">Home Alone</mat-option>
    </mat-select>
  </mat-form-field>
</div>
