/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";


$custom-typography: mat-typography-config(
  $font-family: 'Open Sans, sans-serif'
);

@include mat-core($custom-typography);
@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
